@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: rgb(19, 19, 56);
  --bg-clear: rgb(49, 49, 125);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(205, 205, 205);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-dark);
  transition: opacity 0.2s;
  border-radius: 10px;
  border: 3px solid rgb(205, 205, 205);
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.7;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font: inherit;
}

body {
  background-color: var(--bg-dark);
  position: relative;
}
